#env files
.venv
.env

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
__pycache__/
*.pyc

# Packaging metadata
*.egg-info/
dist/
build/

# Lock files (if applicable)
*.lock

# macOS
.DS_Store
.vscode

#databricks
.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
.idea